<%- include("header") -%>
<script src="https://cdn.rawgit.com/fnando/sparkline/master/dist/sparkline.js
"></script>

  <!-- Page Content -->
<div class="container-fluid grid" style="background-color: #eeeeee; padding-bottom: 15px;">
    <div class="row" id="column-name" style="background-color: #424242; margin-bottom: 15px;">
        <div class="col-xl-3 col-l-2" ><p class="font-weight-bold fs-5" style="color: white;">Stock Symbol</p></div>
        <div class="col-xl-4 col-lg-4" ><p class="font-weight-bold fs-5" style="color: white;">Price</p></div>
        <div class="col-xl-3 col-lg-3" ><p class="font-weight-bold fs-5" style="color: white;">Change</p></div>
        <div class="col-xl-2 col-lg-3" ><p class="font-weight-bold fs-5" style="color: white;">52w Range</p></div>
    </div>

    <%let item=undefined%>
    <%let sparkShifted=undefined%>
    <%for(let i=0;i<watchListStocks.length;i++){%>
        <%item=watchListStocks[i]%>
    <div class="row">
      <div class="col-xl-3 col-l-2">
        <div class="row">
          <a class="fw-bold fs-3" id="symbol" target="_blank" href=<%="https://www.etoro.com/markets/"+item.symbol+"/stats"%>><%=item.symbol%></a>
        </div>

        <div class="row"><p class="fw-lighter"><%=item.longName%></p></div>
      </div>

      <div class="col-xl-4 col-lg-4">
        <div style="position: relative;">
          <%if(item.absChange<0){%>
            <svg class="<%=item.symbol%> sparkline--red sparkline--red--fill"  width="300" height="70" stroke-width="3"></svg>
          <%} else {%>
            <svg class="<%=item.symbol%> sparkline--green sparkline--green--fill"  width="300" height="70" stroke-width="3"></svg>
          <%} %>  
                <button type="button" 
                        class="btn btn-outline-dark"
                        data-bs-toggle="modal" data-bs-target="#trade<%=item.symbol%>" 
                        style="width:100px; margin-left: 10%;"
                        >
                        <p class="fw-normal fs-5"><%=item.currentPrice.toFixed(2)%></p>
                </button>
        </div>

      </div>
      <%let data=item.sparkData%>
      <script>
        sparkline.sparkline(document.querySelector(".<%=item.symbol%>"),<%-JSON.stringify(item.sparkData)%>);
      </script>

      <div class="col-xl-3 col-lg-3">
        <div class="row">
            <%if(item.absChange<=0) { %>
                <p class="fw-normal  fs-4" style="color: rgb(245, 66, 66)">
                <%=item.absChange%>
                <span class="fw-light fs-6">| <%=item.rateChange%></span>
                </p>
                <%} else {%>
                <p class="fw-normal fs-4 price" style="color: rgb(0, 153, 51)">
                <%=item.absChange%> 
                <span class="fw-light fs-6">| <%=item.rateChange%></span>
                </p>
                <%}%>
        </div>
      </div>

      <div class="col-xl-2 col-lg-3">
          <div class="row">
            <div class="btn-group-vertical justify-content-center">
                <button type="button" class="btn btn-outline-success" style="width:50%;align-self:center" ><%=item.rangeHigh%></button>
                <button type="button" class="btn btn-outline-danger" style="width:50%;align-self:center"><%=item.rangeLow%></button>
            </div>
          </div>
       </div>


    </div>


     <div class="modal fade" id="trade<%=item.symbol%>" tabindex="-1" aria-labelledby="Trade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Trade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/trade" method="POST">
                    <input type="hidden" name="symbol" value="<%=item.symbol%>">
                    <label for="fname">Set Amount:</label><br>
                    <input type="text" id="amount" name="amount" placeholder="100"><br>
                    <select class="form-select" name="tradeType">
                        <option value="buy" selected>Buy/Sell</option>
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                      </select>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Trade</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%if(i!=watchListStocks.length-1){%>
        <hr class="twenty-pdding">
      <%}else{%>
        <%if(userInfo!=undefined){%>
        <hr style="margin-bottom: 90px;">
        <%}%>
      <%}%>
    <%} %>

</div>

  <script type="text/javascript" src="/javascripts/spark.js"></script>




  <%if(investmentInfo===undefined){%>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Tips: Click the price button to trade!
        </p>
      </div>
      <!-- /.container -->
    </footer>
  <%} else {%>
    <div class="container-fluid fixed-bottom bg-dark text-white">
      <div class="row" style="padding-top: 16px;">
        <div class="col">
          <div class="row">
            <p>$<%=userInfo.balance.toFixed(2)%></p>
          </div>
  
          <div class="row">
            <p>AVAILABLE</p>
          </div>
        </div>
        <div class="col">
          <p class="fw-bold fs-3">+</p>
        </div>
  
        <div class="col">
          <div class="row">
            <p>$<%=investmentInfo.totalCost.toFixed(2)%></p>
          </div>
  
          <div class="row">
            <p>ALLOCATED</p>
          </div>
          
        </div>
        
        <div class="col">
          <p class="fw-bold fs-3">+</p>
        </div>
  
        <div class="col">
  
          <div class="row">
            <p>$<%=investmentInfo.totalProfit.toFixed(2)%></p>
          </div>
  
          <div class="row">
            <p>PROFIT</p>
          </div>
        </div>
        <div class="col">
          <p class="fw-bold fs-3">=</p>
        </div>
        <div class="col">
          <div class="row">
            <p>$<%=(investmentInfo.totalCost+investmentInfo.totalProfit+userInfo.balance).toFixed(2)%></p>
          </div>
  
          <div class="row">
            <p>EQUITY</p>
          </div>
        </div>
      </div>
    </div>
  <%}%>
  <%- include("footer") -%>



</body>
