<%- include("header") -%>

  <!-- Page Content -->
  <div class="container-fluid"padding-bottom: 15px;">
    <div class="row" id="column-name" style="background-color: #424242; margin-bottom: 15px;">
      <div class="col"><p class="font-weight-bold fs-5" style="color: white;">Stock Symbol</p></div>
      <div class="col"><p class="font-weight-bold fs-5" style="color: white;">Quantity</p></div>
      <div class="col"><p class="font-weight-bold fs-5" style="color: white;">Current Price</p></div>
      <div class="col"><p class="font-weight-bold fs-5" style="color: white;">Profit</p></div>
      <div class="col"><p class="font-weight-bold fs-5" style="color: white;">Worth</p></div>
    </div>
    <% for(let i=0;i<investments.length;i++) {%>
    <% let item = investments[i];%>
    <div class="row">
      <div class="col">
        <div class="row">
          <a class="fw-bold fs-3" id="symbol" target="_blank" href=<%="https://www.etoro.com/markets/"+item.symbol+"/stats"%>><%=item.symbol%></a>
        </div>
      </div>

      <div class="col">
        <div class="row">
            <p><%=item.amount%></p>
        </div>
      </div>

      <div class="col">
        <div class="row">
            <p><%=investmentInfo.currentPrice[i]%></p>
        </div>
      </div>


      <div class="col">
        <div class="row">
            <%if(investmentInfo.profit[i]<0) { %>
                <p class="fw-normal  fs-4" style="color: rgb(245, 66, 66)">
                <%=investmentInfo.profit[i].toFixed(2)%>
                <span class="fw-light fs-6">| <%=investmentInfo.profitRate[i].toFixed(2)%>%</span>
                </p>
                <%} else {%>
                <p class="fw-normal fs-4 price" style="color: rgb(0, 153, 51)">
                <%=investmentInfo.profit[i].toFixed(2)%> 
                <span class="fw-light fs-6">| <%=investmentInfo.profitRate[i].toFixed(2)%>%</span>
                </p>
                <%}%>
        </div>
      </div>

      <div class="col">
          <div class="row">
            <p><%=(item.cost + investmentInfo.profit[i]).toFixed(2)%></p>
          </div>
       </div>

    </div>
    
    <%if(i!=investments.length-1){%>
      <hr class="twenty-pdding">
    <%} else {%>  
      <hr style="margin-bottom: 90px;">
      <%}%>
  <%}%>
  </div>
  
  <div class="container-fluid fixed-bottom bg-dark text-white">
    <div class="row" style="padding-top: 16px;">
      <div class="col">
        <div class="row">
          <p>$<%=userInfo.balance.toFixed(2)%></p>
        </div>

        <div class="row">
          <p>AVAILABLE</p>
        </div>
      </div>
      <div class="col">
        <p class="fw-bold fs-3">+</p>
      </div>

      <div class="col">
        <div class="row">
          <p>$<%=investmentInfo.totalCost.toFixed(2)%></p>
        </div>

        <div class="row">
          <p>ALLOCATED</p>
        </div>
        
      </div>
      
      <div class="col">
        <p class="fw-bold fs-3">+</p>
      </div>

      <div class="col">

        <div class="row">
          <p>$<%=investmentInfo.totalProfit.toFixed(2)%></p>
        </div>

        <div class="row">
          <p>PROFIT</p>
        </div>
      </div>
      <div class="col">
        <p class="fw-bold fs-3">=</p>
      </div>
      <div class="col">
        <div class="row">
          <p>$<%=(investmentInfo.totalCost+investmentInfo.totalProfit+userInfo.balance).toFixed(2)%></p>
        </div>

        <div class="row">
          <p>EQUITY</p>
        </div>
      </div>
    </div>
  </div>



</body>